<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/css/login.css">
    <title>Login</title>
</head>
<body>
    <div class="login">
        <div class="image-login">
            <img src="../public/img/image-login.jpg">
            <div class="image-login-logo">
              <img src="../public/img/logo.png">
              </div>
        </div>
        <div class="login-form">
            <div class="hello-text">
            <h1>Đăng nhập</h1>
            </div>
            <div class="username-input">
                <input placeholder="Tên đăng nhập" type="text">
            </div>
            <div class="password-input">
                <input placeholder="Mật khẩu" type="password" id="password-input">
            </div>
            <div class="remember-forgot">
                <div class="remember-btn">
                    
                </div>
                <div class="forgot-btn">
                    <p>Quên mật khẩu</p>
                </div>
            </div>
            
            <div class="login-btn">
                <button>Đăng nhập</button>
            </div>
            <div class="signup-btn">
                <p>Chưa có tài khoản, <a href="signup.html">hãy đăng ký ngay</a></p>
            </div>
        </div>
    </div>

    <script src="../public/js/eye.js"></script>
</body>
</html>