<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/css/signup.css">
    <title>Đăng ký tài khoản</title>
</head>
<body>
    <div class="signup">
        <div class="image-signup">
            <img src="../public/img/image-login.jpg">
            <div class="image-signup-logo">
              <img src="../public/img/logo.png">
              </div>
        </div>

        <div class="signup-form">
            <div class="username">
                <input placeholder="Tên hiển thị" type="text">
            </div>
            <div class="loginname">
                <input placeholder="Tên đăng nhập" type="text">
            </div>
            <div class="password">
                <input placeholder="Mật khẩu" type="password">
            </div>
            <div class="gmail">
                <input placeholder="Gmail" type="text">
            </div>
            <div class="checkbox">
                <label>
                    <input type="radio" name="options" value="option1">
                    Option 1
                  </label>
            </div>
            <div class="signup-btn">
                <button>Đăng ký</button>
            </div>
            <div class="login-btn">
                <p>Đã có tài khoản, <a href="login.html">đăng nhập ngay</a></p>
            </div>
        </div>
    </div>
</body>
</html>