<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/css/test.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <title>Document</title>
</head>

<body>
  <button class="color-btn active">Button 1</button>
<button class="color-btn">Button 2</button>
<button class="color-btn">Button 3</button>
<button class="color-btn">Button 4</button>
<button class="color-btn">Button 5</button>

  
  <script>
    const colorBtns = document.querySelectorAll('.color-btn');

colorBtns.forEach((btn, index) => {
  btn.addEventListener('click', () => {
    colorBtns.forEach((btn) => {
      btn.classList.remove('active');
    });
    btn.classList.add('active');
  });
  
  if (index === 0) {
    btn.classList.add('active');
  }
});

  </script>
</body>

</html>