body{
    background-image: url("../img/bglogin.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Inconsolata', sans-serif;
}

/*Login*/
.login{
    width: 800px;
    height: 416px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    display: flex; /* use flexbox layout */
  flex-direction: row; /* align child divs horizontally */
}

/* left*/
.image-login img{
    width: 100%;
    height: 416px;
    border-top-left-radius: 30px;
    border-bottom-left-radius:30px;
}

.image-login{
    width: 50%;
    position: relative;
}

.image-login-logo{
    position: absolute; 
    top: 10%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

.image-login-logo img{
    width: 100%;
    height: 100%;
}


/* login form*/
.login-form{
    width: 50%;
    height: 416px;
    display: flex; 
  justify-content: center; 
  align-items: flex-start; 
  flex-direction: column; 
  align-items: center;
}

/*text*/
h1{
    color: #02577A;
    text-align: center;
    padding-top: 15% ;
}

.hello-text{
    height: 30%;
}

/* input text*/
input{
    margin-bottom: 10px;
  border-radius: 30px;
  font-size: 16px;
  background-color: #2FAEBD;
  width: 263px;
  height: 46px;
  border: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}


input::placeholder {
    color: white;
    font-style: italic;
    font-family: 'Inconsolata', sans-serif;
    text-align: center;
}

input[type="text"] {
    color: white;
    font-style: italic;
    font-family: 'Inconsolata', sans-serif;
    text-align: center;
}

input[type="password"] {
    color: white;
    font-style: italic;
    font-family: 'Inconsolata', sans-serif;
    text-align: center;
}



input[type="text"]:hover {
    border-color: white;
}

.input-group-text {
    cursor: pointer;
  }
  
  .input-group-text i {
    font-size: 16px;
  }
  


/* remember + forgot password*/

.remember-forgot{
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.remember-btn{
    width: 50%;
}

.forgot-btn{
    width: 50%;
}

.remember-btn input{
    width: 10px;
}

input[type="checkbox"] {
    font-style: italic;
    font-family: 'Inconsolata', sans-serif;
    font-size: 2px;
}

.forgot-btn p{
    color: #2FAEBD;
    margin-top: 10px;
    margin-left:15px ;
}
/* login btn*/

.login-btn{
    height: 15%;
}

button{
    cursor: pointer;
    width: 263px;
    height: 46px;
    background-color: #321F71;
    border: none;
    border-radius: 30px;
    color:white;
    font-family: 'Inconsolata', sans-serif;
}

button:hover{
    background-color: #01303F;
}

/* sign up btn*/
.signup-btn{
    height: 15%;
}

.signup-btn a{
    color: red;
    font-family: 'Inconsolata', sans-serif;
}